<ion-header [translucent]="true">
  <ion-toolbar color="Primary">
    <img slot="start" src="/assets/1.png">
    <div class="ion-text-center"><ion-text color="secondary"><h2>BrainStorm</h2></ion-text></div>
    <img slot="end" src="/assets/2.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <form [formGroup]="login_user" (submit)="login(login_user.value)">

    <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!login_user.valid">Login</ion-button>
    </form>
  <ion-button (click)="register()" expand="block">Register</ion-button>
  <div class="ion-text-center"><ion-button (click)="register()" (click)="resetPassword()">Forgot Password</ion-button></div>
</ion-content>
