<ion-header [translucent]="true">
  <ion-toolbar color="Primary">
    <div class="ion-text-center"><ion-text color="secondary"><h2>Change Password</h2></ion-text></div>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="user-settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <form [formGroup]="updatePassword" (submit)="update(updatePassword.value)">

    <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmpassword" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!updatePassword.valid">Update Password</ion-button>
  </form>
</ion-content>
