<!-- <ion-header [translucent]="true"> -->
  <ion-header>
    <ion-toolbar color="background-color">
    <div class="ion-text-center"><ion-text color="secondary"><h2>BrainStorm</h2>
      <h3>User Settings</h3></ion-text></div>
    <ion-menu-button color="secondary" slot="start">
      <ion-button slot="end"></ion-button>
    </ion-menu-button>
    <img slot="end" src="/assets/2.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-item color="dark">
    <ion-label><ion-text color="secondary">Email</ion-text></ion-label>
    <div>
      <ion-label><ion-text color="secondary">{{email}}</ion-text></ion-label>
    </div>
  </ion-item>
  <ion-item color="dark">
    <ion-label><ion-text color="secondary">First Name</ion-text></ion-label>
    <div>
      <ion-label><ion-text color="secondary">{{firstName}}</ion-text></ion-label>
    </div>
  </ion-item>
  <ion-item color="dark">
    <ion-label><ion-text color="secondary">Last Name</ion-text></ion-label>
    <div>
      <ion-label><ion-text color="secondary">{{lastName}}</ion-text></ion-label>
    </div>
  </ion-item>
  <ion-item color="dark">
    <ion-label><ion-text color="secondary">Handle</ion-text></ion-label>
    <div>
      <ion-label><ion-text color="secondary">{{handle}}</ion-text></ion-label>
    </div>
  </ion-item>
  <ion-item-divider color="medium">
    <ion-text color="primary">Account Settings</ion-text>
  </ion-item-divider>

  <ion-item color="dark" (click)="goToChangePassword()" detail>
    <ion-label>
      <ion-text color="secondary">Change Password</ion-text>
    </ion-label>
  </ion-item>

  <ion-item color="dark" (click)="goToUpdateInfo()" detail>
    <ion-label>
      <ion-text color="secondary">Update Info</ion-text>
    </ion-label>
  </ion-item>

  <ion-item color="dark" (click)="goToUpdateEmail()" detail>
    <ion-label>
      <ion-text color="secondary">Update Email</ion-text>
    </ion-label>
  </ion-item>

</ion-content>
