<ion-header [translucent]="true">
  <ion-toolbar color="Primary">
    <div class="ion-text-center"><h2>BrainStorm</h2><h3>User Settings</h3></div>
<ion-menu-button slot="start">
    <ion-button slot="end"></ion-button>
</ion-menu-button>
<img slot="end" src="/assets/2.png">
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Email</ion-label>
    <div>
      <ion-label>{{email}}</ion-label>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>First Name</ion-label>
    <div>
      <ion-label>{{firstName}}</ion-label>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>Last Name</ion-label>
    <div>
      <ion-label>{{lastName}}</ion-label>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>Handle</ion-label>
    <div>
      <ion-label>{{handle}}</ion-label>
    </div>
  </ion-item>
  <ion-item-divider>Account</ion-item-divider>

  <ion-item (click)="goToChangePassword()" detail>
    <ion-label>
      Change Password
    </ion-label>
  </ion-item>

  <ion-item (click)="goToUpdateInfo()" detail>
    <ion-label>
      Update Info
    </ion-label>
  </ion-item>

  <ion-item (click)="goToUpdateEmail()" detail>
    <ion-label>
      Update Email
    </ion-label>
  </ion-item>

</ion-content>
