<ion-header [translucent]="true">
  <ion-toolbar color="Primary">
    <div class="ion-text-center"><ion-text color="secondary"><h2>New Idea</h2></ion-text></div>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/my-ideas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <form [formGroup]="newIdeaForm" (submit)="createIdea(newIdeaForm.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <!-- <ion-input type="text" formControlName="description" required></ion-input> -->
      <ion-textarea formControlName="description" required></ion-textarea>
    </ion-item>
    <ion-item>
     <ion-label>Category</ion-label>
     <ion-select value="Engineering" okText="Okay" cancelText="Dismiss" formControlName="category">
       <ion-select-option value="Engineering">Engineering</ion-select-option>
       <ion-select-option value="Technology">Technology</ion-select-option>
       <ion-select-option value="Educational">Educational</ion-select-option>
       <ion-select-option value="Movie">Movie</ion-select-option>
       <ion-select-option value="Song">Song</ion-select-option>
       <ion-select-option value="Book">Book</ion-select-option>
       <ion-select-option value="Comic">Comic</ion-select-option>
       <ion-select-option value="Video Game">Video Game</ion-select-option>
     </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Image Location</ion-label>
      <ion-input type="text" formControlName="img" required [(ngModel)]="imgURL"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!newIdeaForm.valid">Publish Idea</ion-button>
</form>
<ion-button (click)="pickImage()">
  Take Picture
</ion-button>

<img [src]="cameraImg" />
</ion-content>
