<!-- <ion-header [translucent]="true"> -->
  <ion-header>
    <ion-toolbar color="background-color">
    <ion-buttons>
      <ion-back-button color="secondary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-card>
    
    <img  src={{catImg}}>
    <ion-card-title class='ion-text-center' color="tertiary">{{title}}</ion-card-title>
  </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
    
  <ion-list>
    <ion-item color="dark" *ngFor="let idea of ideas" (click)="goToThread(idea)">
      <ion-label><ion-text color="secondary">{{idea.title}}</ion-text></ion-label>
      <ion-thumbnail>
        <ion-img [src]="idea.thumb"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list>  
</ion-content>
