<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-card>
    
    <img  src={{catImg}}>
    <ion-card-title class='ion-text-center' color="tertiary">{{title}}</ion-card-title>
  </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- <ion-button (click)="convTest()"> Tester </ion-button>
     -->
  <ion-list>
    <ion-item *ngFor="let idea of ideas" (click)="goToThread(idea)">
      <ion-label>{{idea.title}}</ion-label>
      <ion-thumbnail>
        <ion-img [src]="idea.thumb"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list>  
</ion-content>
