<ion-header [translucent]="true">
  <ion-toolbar color="Primary">
    <div class="ion-text-center"><ion-text color="secondary"><h2>Update Email</h2></ion-text></div>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="user-settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <form [formGroup]="updateEmail" (submit)="updateAccount(updateEmail.value)">

    <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required value={{email}}></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!updateEmail.valid">Update Email</ion-button>
  </form>
</ion-content>
