<!-- <ion-header [translucent]="true"> -->
  <ion-header>
    <ion-toolbar color="background-color">
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center"><ion-text color="secondary">
      <h2>Reset Password</h2></ion-text></div>
      <img slot="end" src="/assets/2.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <form [formGroup]="resetPassword" (submit)="forgotPassword(resetPassword.value)">

    <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!resetPassword.valid">Reset</ion-button>
  </form>
</ion-content>
