<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPassword" (submit)="forgotPassword(resetPassword.value)">

    <ion-item>
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!resetPassword.valid">Reset</ion-button>
  </form>
</ion-content>
