<ion-app>
  <ion-menu type="overlay">
    <ion-header color="dark">
      <ion-toolbar color="dark">
        <ion-title><ion-text color="secondary">Menu</ion-text></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="dark">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="secondary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              <ion-text color="secondary">{{p.title}}</ion-text>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
