<ion-header>
  <ion-toolbar>
    <div class="ion-text-center"><h2>Edit</h2></div>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="margin-left: 23px;" class="ion-text-center"><h5>{{thread.title}}</h5></div>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">DELETE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="editForm" (submit)="saveChanges(editForm.value)">
  <ion-label>Edit Description</ion-label>
  <ion-item>
    <ion-textarea rows="10" formControlName="description" value={{thread.description}}></ion-textarea>
  </ion-item>
  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!editForm.valid">Save Changes</ion-button>
</form>
<ion-button (click)="uploadPic()">
  Take Picture
</ion-button>

<img [src]="cameraImg" />
</ion-content>
