<!-- <ion-header [translucent]="true"> -->
  <ion-header>
    <ion-toolbar color="background-color">
    <div class="ion-text-center"><ion-text color="secondary"><h2>Edit</h2></ion-text></div>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <div style="margin-left: 23px;" class="ion-text-center"><ion-text color="secondary">
      <h5>{{thread.title}}</h5></ion-text></div>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="delete()">DELETE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
<form [formGroup]="editForm" (submit)="saveChanges(editForm.value)">
  <ion-label><ion-text color="secondary"></ion-text>Edit Description</ion-text></ion-label>
  <ion-item>
    <ion-textarea rows="10" formControlName="description" value={{thread.description}}></ion-textarea>
  </ion-item>
  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!editForm.valid">Save Changes</ion-button>
</form>
<ion-button (click)="uploadPic()">
  Take Picture
</ion-button>

<img [src]="cameraImg" />
</ion-content>
