<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center"><h2>BrainStorm</h2><h3>{{thread.title}}</h3></div>
<!-- <ion-menu-button slot="start">
    <ion-button slot="end"></ion-button>
</ion-menu-button> -->
<img [hidden]="isOwner()" slot="end" src="/assets/2.png">
<ion-buttons slot="end" [hidden]="!isOwner()">
  <ion-button (click)="editIdea()">Edit</ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <h3>{{threadDescription}}</h3>
    <br>
    <!-- <ion-note>{{thread.owner}}</ion-note> -->
    <h4>{{thread.owner}}</h4>
	<ion-button (click)="message(thread)">
			  <ion-icon name="mail-outline" ></ion-icon>
	</ion-button>
    <div>
    <ion-img *ngFor='let img of imgs' [src]="img"></ion-img>
    <h5><a (click)="like()">Like</a>{{ likes }}
    <a (click)="dislike()"> Dislike</a>{{ dislikes }}</h5>
    </div>
  </ion-card>
  <ion-card *ngFor='let reply of replies'>
    <ion-item>
      <ion-label class='stacked'>
        <h2>{{reply.body}}</h2>
        <ion-note>{{reply.owner}}</ion-note>
      </ion-label>
	  <ion-button (click)="message(reply)">
			  <ion-icon name="mail-outline" ></ion-icon>
	</ion-button>
    </ion-item>
  </ion-card>
  <ion-item [hidden]="false">
    <form [formGroup]="replyForm" (submit)="postReply(replyForm.value)">
      <ion-label color="primary" position="floating">Your Thoughts</ion-label>
      <ion-textarea formControlName="body"></ion-textarea>
      <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!replyForm.valid">Post</ion-button>
    </form>
  </ion-item>
</ion-content>
