<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center"><h2>BrainStorm</h2><h3>{{thread.title}}</h3></div>
<!-- <ion-menu-button slot="start">
    <ion-button slot="end"></ion-button>
</ion-menu-button> -->
<img [hidden]="isOwner()" slot="end" src="/assets/2.png">
<ion-buttons slot="end" [hidden]="!isOwner()">
  <ion-button (click)="editIdea()">Edit</ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <h2>{{threadDescription}}</h2>
      <br>
      <ion-note>{{thread.owner}}</ion-note>
      <h5>Posted on {{thread.date | date: 'MM/dd/yyyy HH:mm'}}</h5>
      <ion-button (click)="message(thread)">
            <ion-icon name="mail-outline" ></ion-icon>
      </ion-button>
      <div>
        <ion-img *ngFor='let img of imgs' [src]="img"></ion-img>
      </div>
      <div [hidden]="!isLikable()">
        <h5><a (click)="like()">Like</a>{{ likes }}
        <a (click)="dislike()"> Dislike</a>{{ dislikes }}</h5>
      </div>
      <div [hidden]="isLikable()">
        <h5>Likes{{ likes }} Dislikes{{ dislikes }}</h5>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor='let reply of replies'>
    <ion-card-content>
      <ion-text>
        {{reply.body}}
      </ion-text>
    </ion-card-content>
      <ion-item lines="none">
        <ion-button slot='start' (click)="message(reply)">
          <ion-icon name="mail-outline" ></ion-icon>
        </ion-button>
        <ion-note slot='start'>{{reply.owner}}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-note slot="start">relpied on {{reply.date | date: 'MM/dd/yyyy HH:mm'}}</ion-note>
      </ion-item>
  </ion-card>
  <ion-item [hidden]="false">
    <form [formGroup]="replyForm" (submit)="postReply(replyForm.value)">
      <ion-label color="primary" position="floating">Your Thoughts</ion-label>
      <ion-textarea formControlName="body"></ion-textarea>
      <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!replyForm.valid">Post</ion-button>
    </form>
  </ion-item>
</ion-content>
